.todo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-todo-button,
.complete-todo-button,
.delete-todo {
    margin-left: 10px;
    margin-right: 10px;
}

.todo-list-container {
    margin: 10px;
}

.todo-item {
    display: flex;
    flex-direction: row;
    margin: 10px;
    width: 500px;
}